.done {
    text-decoration: line-through;
}

.error {
    background-color: red;
    width: 12em;
}

.error-border {
    border-color: red;
}

span {
    background-color: red;
}

.complete {
    text-decoration: line-through;
}

.inputError {
    border: 1px solid red;
}