* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#202124;
    color: #4E5860;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}
h1 {
    color: white;
}
.container-header {
    padding: 1.5rem 0;
}
textarea:focus, input:focus, button:focus{
    outline: none;
}

.userinput {
    width: 18rem;
    font-size: 20px;
    height: 1.75rem;
    background-color: #202124;
    border: none;
    border-bottom: .05rem solid grey;
    color: lightgrey;
    margin-bottom: .75rem;
}

#add {
    height: 1.75rem;
    width: 3rem;
    background-color: lightgrey;
    border: none;
    border-radius: .25rem;
}
::placeholder {
    font-size: 20px;
}


#list > div {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
    font-size: 14px;
    padding-left: .5rem;
    padding-right: 5rem;
    width: 19rem;
    text-align: left;
}

ul > div {
    padding: .5rem 0;
    background-color: lightgrey;
    width: 21.3rem;
    border-bottom: 1px solid lightgrey;
}
ul > div > input {
    width: 1.5rem;
    order: -1;
}
ul > div > button {
    font-size: 11px;
    width: 3rem;
}

.edit, .delete {
    margin-right: .5rem;
}


.done {
    text-decoration: line-through;
}

.error {
    background-color: red;
    width: 12em;
}

.error-border {
    border-color: red;
}

span {
    background-color: red;
}

.complete {
    text-decoration: line-through;
}

.inputError {
    border: 1px solid red;
}